$lang: '';
$mainColor: #254fef;
$mainColorDark: #d14300;
$subColor: #7087f7;
$pointColor: $mainColor;

// Variables
$color-black: #000;
$color-blue: #2f62cb;
$color-red: #db140f;
$color-light-blue: #278dea;
$color-yellow: #FF9F00 ;
$color-gray: #999;
$color-black: #222;
$color-dark-gray: #666;
