$color-white : #fff;
$color-black : #000;
$color-gray : #D9D9D9;
$color-main : #614CF6; // main color 
$color-main-bg : #F3F1FF; // header background
$color-main-dark : #392C90; //purple text
$color-gray-dark : #666666; //gray text, border
$color-sky : #C7D6F7; // view btn
$color-sky-gray : #DBDEE6; //input border
