@import './mixin.scss';
@import './variable.scss';

.write-main {
    width: 1200px;
    margin: 0 auto;
    padding: 160px 0;
    h2 {
        @include flexCenter(start);
        gap: 10px;
        font-size: 24px;
        padding-bottom: 34px;
    }
    .write-list {
        @include column-flexbox();
        gap: 34px;
        li {
            @include column-flexbox($ai: start);
            width: 100%;
            gap: 10px;
            label,.write-txt {
                font-size: 20px;
                font-weight: 600;
            }
            input[type=text] {
                width: 100%;
                height: 50px;
                border-radius: 6px;
                border: 1px solid $color-sky-gray;
                text-indent: 12px;
                font-size: 14px;
                &:focus {
                    outline: none;
                    border: 1px solid $color-main;
                }
            }
            .write-hashtag-box {
                @include flexCenter(start);
                width: calc(100% - 12px);
                height: 52px;
                border-radius: 6px;
                border: 1px solid $color-sky-gray;
                padding-left: 12px;
                gap: 4px;
                input[type=text] {
                    border: none;
                    &:focus {
                        border: none;
                    }
                    text-indent: 0;
                }
                &.on {
                    border: 1px solid $color-main;
                }
                .tag-item{
                    background: $color-main-bg;
                    color: $color-main;
                    padding: 8px 12px;
                    border-radius: 20px;
                    font-size: 14px;
                    font-weight: 500;
                }
                .select-box{
                    position: relative;
                    &::after{
                        @include pseudo('', 5px, 5px);
                        border-bottom: 1.5px solid $color-gray-dark;
                        border-left: 1.5px solid $color-gray-dark;
                        position: absolute;
                        top: calc(50% - 2px);
                        right: 10px;
                        transform: translate(-50%,-50%) rotate(-45deg);
                    }
                    select{
                        background: none;
                        text-align: center;
                        height: 30px;
                        width: 120px;
                        border : 1px solid $color-sky-gray;
                        border-radius: 8px;
                        appearance: none;
                        outline: none;
                    }
                }
            }
            #content{
                width: 100%;
                .toastui-editor-defaultUI {
                    border-radius: 6px;
                    overflow: hidden;
                    &.on{
                        border: 1px solid $color-main;
                    }
                }
            }
            .btn-box{
                border-top: 1px solid $color-sky-gray;
                width: 100%;
                @include flexCenter(space-between);
                padding-top: 34px;
                button{
                    width: 140px;
                    height: 62px;
                    background: none;
                    font-size: 18px;
                    font-weight: 500;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: .3s;
                    &.return{
                        border: 1px solid $color-gray-dark;
                        color: $color-gray-dark;
                        &:hover{
                            background: $color-gray-dark;
                            color: $color-white;
                        }
                    }
                    &.submit{
                        border: 1px solid $color-main;
                        color: $color-white;
                        background: $color-main;
                        &:hover{
                            background: none;
                            color: $color-main;
                        }
                    }
                }
            }
            &:nth-child(2){
                ul{
                    @include flexCenter(start);
                    width: 100%;
                    gap: 15px;
                }
            }
        }
    }
}